<h1>Add a building</h1>
<form action="/addbuildings" method="POST">
  <input name="title" value="title" />
  <input name="link" value="link" />
  <input name="imgUrl" value="url" />
  <input name="snippit" value="snippit" />
  <input type="submit" />
</form>
