<h1>Add a tree</h1>
<form action="/trees/add" method="POST">
  <input name="name" value="bob" />
  <input name="category" value="category" />
  <input name="link" value="link" />
  <input name="imgUrl" value="url" />
  <input name="stretch" value="stretch" />
  <input name="THC" value="THC" />
  <input name="CBD" value="CBD" />
  <input type="submit" />
</form>
