{{#each data}} 
    <div class="col-md-6 col-sm-12">
        <div class="content-box">
            <h3 class="center-text preview-heading">{{{ this.title }}}</h3>
            <a href="{{{ this.link }}}">
                <img class="images" src="{{{ this.imgUrl }}}" /> </a>
            <p>{{{ this.snippit }}}</p>
        </div>
    </div>
{{/each}}
<h1>HELLO</h1>