<form>
    <legend>login</legend>
    <div class="form-group">
        <label for="usernameLogin">username</label>
        <input id="usernameLogin" class="form-control" type="text" name="username">
    </div>
    <div class="form-group">
        <label for="password">password</label>
        <input class="form-control is-invalid" type="password" name="password">
    </div>
    <button class="btn btn-primary" type="button" onclick="loginAlert()">login</button>
</form>